@keyframes slideInUp {
    from {
        transform: scale(1.65) rotate(-40deg) translateY(100%);
        opacity: 1;
    }
    
    to {
        transform: scale(1.65) rotate(0deg)translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(var(--unit-12));
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes zoomOut {
    0% {
        opacity: 0;
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-fadeIn {
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
}

.animate-fadeInUp {
    opacity: 0;
    animation: fadeInUp 0.5s ease forwards;
}

.animate-zoomIn {
    opacity: 0;
    animation: zoomIn 0.5s ease forwards;
}

.animate-zoomOut {
    opacity: 0;
    animation: zoomOut 0.5s ease forwards;
}

.delay-0 { animation-delay: 0.0s; }
.delay-1 { animation-delay: 0.2s; }
.delay-2 { animation-delay: 0.4s; }
.delay-3 { animation-delay: 0.6s; }
.delay-4 { animation-delay: 0.8s; }
.delay-5 { animation-delay: 1.0s; }
.delay-6 { animation-delay: 1.2s; }
.delay-7 { animation-delay: 1.4s; }
.delay-8 { animation-delay: 1.6s; }
.delay-9 { animation-delay: 1.8s; }
.delay-10 { animation-delay: 2.0s; }

.duration-instant        { animation-duration: 0.00s; }
.duration-extremely-fast { animation-duration: 0.05s; }
.duration-very-fast      { animation-duration: 0.10s; }
.duration-fast           { animation-duration: 0.18s; }
.duration-medium-fast    { animation-duration: 0.26s; }
.duration-medium         { animation-duration: 0.35s; }
.duration-medium-slow    { animation-duration: 0.50s; }
.duration-slow           { animation-duration: 0.75s; }
.duration-very-slow      { animation-duration: 1.10s; }
.duration-extremely-slow { animation-duration: 1.50s; }
.duration-super-slow     { animation-duration: 2.00s; }

.duration-0 { animation-duration: 0.00s; }
.duration-1 { animation-duration: 0.05s; }
.duration-2 { animation-duration: 0.10s; }
.duration-3 { animation-duration: 0.18s; }
.duration-4 { animation-duration: 0.26s; }
.duration-5 { animation-duration: 0.35s; }
.duration-6 { animation-duration: 0.50s; }
.duration-7 { animation-duration: 0.75s; }
.duration-8 { animation-duration: 1.10s; }
.duration-9 { animation-duration: 1.50s; }
.duration-10 { animation-duration: 2.00s; }

.easing-linear           { animation-timing-function: linear; }
.easing-ease             { animation-timing-function: ease; }
.easing-ease-in          { animation-timing-function: ease-in; }
.easing-ease-out         { animation-timing-function: ease-out; }
.easing-ease-in-out      { animation-timing-function: ease-in-out; }

.easing-accelerate       { animation-timing-function: cubic-bezier(0.7, 0, 1, 0.5); }
.easing-decelerate       { animation-timing-function: cubic-bezier(0, 0.5, 0.3, 1); }
.easing-snappy           { animation-timing-function: cubic-bezier(0.75, -0.5, 0.25, 1.5); }
.easing-bouncy           { animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1); }
.easing-super-bouncy     { animation-timing-function: cubic-bezier(0.5, 1.8, 0.8, -0.3); }
.easing-smooth           { animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.easing-overshoot        { animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045); }
.easing-back-in          { animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045); }
.easing-back-out         { animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); }
.easing-back-in-out      { animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }

