#gantar-splash {
    position: relative;
    transform: scale(1.65);
    transform-origin: 50% 50%;
    margin: var(--vh-20) 0 0 var(--vh-5);
    pointer-events: none;
    animation: slideInUp var(--transition-mega-slow) ease forwards;
    z-index: 10;
}
#gantar-ingame {
    position: relative;
    pointer-events: none;
    z-index: 10;
    transform: scale(1.35);
}