/* .stage.init:before {
    content: "";
    transition: none;
    opacity: 1;
    position: absolute;
    width: inherit;
    height: inherit;
    pointer-events: none;
    user-select: none;
}

.stage:before {
    content: "";
    background: var(--white);
    position: absolute;
    width: inherit;
    height: inherit;
    opacity: 0;
    transition: all var(--transition-slow) ease;
    z-index: 50;
    pointer-events: none;
    user-select: none;
} */

.splash-screen {
    position: absolute;
    transition: opacity 0.5s ease;
    text-align: center;
    z-index: 1024;
    opacity: 0;
    visibility: visible;
}

.splash-screen.show {
    opacity: 1;
    visibility: visible;
}

.splash-screen.hidden {
    opacity: 0;
    visibility: hidden;
}

.splash-screen button {
    pointer-events: auto;
}

.loading-screen {
    z-index: 99;
}
.loading-screen.hidden {
    display: none !important;
}