/* Rounded */

.rounded-0		{ border-radius: var(--rounded-0); }
.rounded-4 		{ border-radius: var(--rounded-4); }
.rounded-8 		{ border-radius: var(--rounded-8); }
.rounded-12		{ border-radius: var(--rounded-12); }
.rounded-16		{ border-radius: var(--rounded-16); }
.rounded-20		{ border-radius: var(--rounded-20); }
.rounded-24		{ border-radius: var(--rounded-24); }
.rounded-28		{ border-radius: var(--rounded-28); }
.rounded-32		{ border-radius: var(--rounded-32); }
.rounded-40		{ border-radius: var(--rounded-40); }
.rounded-48		{ border-radius: var(--rounded-48); }
.rounded-64		{ border-radius: var(--rounded-64); }
.rounded-80		{ border-radius: var(--rounded-80); }
.rounded-96		{ border-radius: var(--rounded-96); }
.rounded-full	{ border-radius: var(--rounded-full); }