body {
    padding: 0;
    margin: 0;
}
* {
    user-select: none;
}
body, html {
    overscroll-behavior-x: none;
    overscroll-behavior-y: contain;
}
.stage {
    background-color: var(--slate-100);
    display: flex;
    width: 100vw;
    height: 100vh;
    position: relative;
    flex-direction: column;
    overflow: hidden;
}
.stage.init #header,
.stage.init #footer,
.stage #header,
.stage #footer {
    transition: none;
}
.stage #header.animate,
.stage #footer.animate {
    transition: all var(--transition-slow) ease;
}
.stage .hud {
    transition: all var(--transition-slow) ease;
    display: flex;
}
.stage .header {
    height: var(--site-header);
    position: relative;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    z-index: 888;
}
.stage .main {
    flex-grow: 1;
    position: relative;
}
.stage .main, .stage .main > div {
    width: 100vw;
}
.stage .main section {
    padding: 0 calc(var(--unit-12) + var(--unit-12));
	overflow: visible;
}
.stage .footer {
    height: var(--site-footer);
    position: relative;
    flex-shrink: 0;
    background: var(--slate-200);
}
.progress-bar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 var(--unit-14);
}
.bar {
    background-color: var(--slate-200);
    width: 100%;
    height: var(--unit-6);
    border-radius: var(--rounded-full);
    overflow: hidden;
    transition: all var(--transition-slow) ease;
}
.completed {
    content: "";
    background-color: var(--indigo-400);
    display: flex;
    transition: inherit;
    height: 100%;
    border-radius: var(--rounded-full);
    width: 100%;
    max-width: 100%;
}

/* IMMERSIVE: SHOW BOTH HEADER AND FOOTER */
.stage.immersive .header {
    margin-top: calc(var(--site-header) * -1);
}
.stage.immersive .footer {
    margin-bottom: calc(var(--site-footer) * -1);
}

/* IMMERSIVE: SHOW HEADER (HIDE FOOTER) */
.stage.showheader .header {
    margin-top: 0;
}
.stage.showheader .footer {
    margin-bottom: calc(var(--site-footer) * -1);
}

/* IMMERSIVE: SHOW FOOTER (HIDE HEADER) */
.stage.showfooter .header {
    margin-top: calc(var(--site-header) * -1);
}
.stage.showfooter .footer {
    margin-bottom: 0;
}

.fs-button {
    width: var(--unit-14);
    height: var(--unit-14);
    background-color: var(--indigo-500);
    border-radius: var(--rounded-full);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    position: absolute;
    z-index: 999;
    top: var(--unit-5);
    left: var(--unit-5);
}

.scene-bg {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: center;
    aspect-ratio: 2 / 1;
    position: relative;
    width: 100%;
    justify-self: center;
    padding: 0 !important;
    background-color: var(--slate-100);
}
.scene-bg.ingame {
    padding: 0 calc(var(--unit-12) + var(--unit-12)) var(--unit-12) calc(var(--unit-12) + var(--unit-12)) !important;
}

.scene-bg > div {
    height: 100%;
    gap: 0;
}

.scene-bg.ingame .question {
    text-align: center;
    font-size: var(--unit-12);
    line-height: var(--unit-13);
    color: var(--slate-800);
    text-wrap: balance;
    font-weight: bold;
    z-index: 20;
}
.scene-bg.ingame .hint {
    text-align: center;
    font-size: var(--unit-10);
    line-height: var(--unit-11);
    color: var(--white);
    padding: var(--unit-4) var(--unit-8);
    border-radius: var(--rounded-20);
    background-color: var(--amber-600);
    text-wrap: balance;
    font-weight: bold;
    z-index: 20;
}

.scene-bg .vo-text {
    text-align: center;
    font-size: var(--unit-10);
    line-height: var(--unit-11);
    color: var(--slate-800);
    text-wrap: balance;
    font-weight: bold;
    z-index: 20;
    display: flex;
    position: relative;
}
.vo-text .read-backdrop {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    position: absolute;
    z-index: -1;
    filter: blur(var(--unit-7));
    border-radius: var(--rounded-24);
}

.story-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: var(--unit-7);
}

.story-text {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
}

.act-icon {
    width: calc(var(--unit-13) * 6);
    height: calc(var(--unit-13) * 3);
}

.stage:not(.immersive) #header:has(.slim) {
    position: fixed;
    width: 100%;
    margin: 0;
    pointer-events: none;
}
.stage:not(.immersive) #header:has(.slim) .header-bar {
    padding: 0;
}

.header-bar {
    padding: 0 calc(var(--unit-12) + var(--unit-12));
    height: 100%;
}
.footer-bar {
    padding: 0 calc(var(--unit-12) + var(--unit-12));
}

.ingame .lay {
    gap: var(--unit-6);
}
.ingame .lay .out1,
.ingame .lay .out2 {
    flex-grow: 1;
}
.ingame .lay .out1 {
    width: 27%;
}
.ingame .lay .out2 {
    width: 73%;
}

.book-cover {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.book-cover-bg {
    background-color: var(--white-0-75);
}

.ingame .lay .out-end1,
.ingame .lay .out-end2 {
    flex-grow: 1;
}

.game-end-scr {
    padding: 0 calc(var(--unit-12) + var(--unit-12)) var(--unit-12) calc(var(--unit-12) + var(--unit-12)) !important;
}
.game-end-scr .out-end1 {
    width: 65%;
}
.game-end-scr .out-end2 {
    width: 35%;
}

.levelbox-wrapper {
    display: flex;
    flex-direction: row;
    gap: var(--unit-10);
    height: 100%;
}
.levelbox {
    padding: var(--unit-10);
    border-radius: var(--rounded-24);
    background: var(--sky-100);
    border: calc(var(--unit-2) + var(--unit-1)) solid var(--sky-300);
    box-shadow: 0 var(--unit-4) 0 var(--sky-400);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all var(--transition-medium) ease;
    cursor: pointer;
}
.levelbox.locked {
    background: var(--slate-200);
    border: calc(var(--unit-2) + var(--unit-1)) solid var(--slate-300);
    box-shadow: 0 var(--unit-4) 0 var(--slate-400);
    filter: contrast(0.75) brightness(1.1) saturate(0);
    cursor: not-allowed;
    pointer-events: none;
}
.levelbox-name {
    font-size: calc(var(--unit-12) + var(--unit-2));
    line-height: calc(var(--unit-13) + var(--unit-5));
    font-weight: 800;
}
.levelbox-name.amazing-shadow {
    -webkit-text-stroke: var(--unit-4) var(--white);
}
.levelbox-name.amazing-under {
    -webkit-text-stroke: var(--unit-4) var(--indigo-300);
    top: var(--unit-2);
}
.levelbox .levelbox-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--unit-5);
    width: 100%;
    height: 100%;
}
.levelbox .title, .levelbox .description {
    text-align: center;
    text-wrap: balance;
    color: var(--slate-800);
    margin: 0;
    padding: 0;
}
.levelbox .title {
    font-size: var(--unit-9);
    line-height: var(--unit-9);
    font-weight: bold;
}
.levelbox .description {
    font-size: var(--unit-6);
    line-height: var(--unit-7);
}
.levelbox .gift-img {
    width: var(--unit-12);
    height: var(--unit-12);
    justify-content: center;
    align-items: center;
    margin: calc(var(--unit-6) * -1) 0;
    user-select: none;
    position: relative;
	bottom: calc(var(--unit-2) * -1);
    display: none;
}
.levelbox .gift-img img {
    width: 100%;
    user-select: none;
    -webkit-user-drag: none;
}
.levelbox.obtained .cta .gift-img {
    display: flex;
}
.levelbox .hint {
    font-size: calc(var(--unit-4) + var(--unit-1));
    line-height: calc(var(--unit-4) + var(--unit-2));
    margin-top: calc(var(--unit-5) * -1);
    text-align: center;
    text-wrap: balance;
    visibility: visible;
    opacity: 1;
}
.levelbox.obtained .hint {
    visibility: hidden;
    opacity: 0;
}
.levelbox .cta {
    display: flex;
    position: relative;
    color: var(--white);
    font-size: var(--unit-6);
    line-height: var(--unit-7);
    font-weight: bold;
    padding: var(--unit-3) var(--unit-5);
    border-radius: var(--rounded-12);
    box-shadow: 0 var(--unit-2) 0 var(--lime-700);
    margin: var(--unit-4) 0;
	background-color: var(--lime-500);
	border-color: var(--lime-500);
	bottom: var(--unit-2);
    gap: var(--unit-5);
    overflow: visible;
}
/* .levelbox .cta:hover {
	background-color: var(--lime-600);
	border-color: var(--lime-600);
	box-shadow: 0 var(--unit-2) 0 var(--lime-700);
}
.levelbox .cta:active {
	box-shadow: 0 0 0 var(--lime-700);
	bottom: 0;
}
.levelbox .cta:hover .gift-img {
    transform: scale(1.1);
}
.levelbox .cta:active .gift-img {
	bottom: 0;
    transform: scale(0.98);
} */

.levelbox .levelbox-lock {
    background-size: (var(--unit-12) * 2);
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../assets/locked.svg");
    width: 100%;
    height: 100%;
    opacity: 0.2;
}
.levelbox .levelbox-lock {
    display: none;
}
.levelbox.locked .levelbox-lock {
    display: flex;
}
.levelbox .levelbox-content {
    display: flex;
}
.levelbox.locked .levelbox-content {
    display: none;
}

.levelbox:not(.locked):hover {
    transform: scale(1.02);
    background: var(--sky-50);
    border: calc(var(--unit-2) + var(--unit-1)) solid var(--sky-200);
    box-shadow: 0 var(--unit-4) 0 var(--sky-300);
}
.levelbox:not(.locked):active {
    transform: scale(0.99);
    filter: brightness(0.8);
    transition: all var(--transition-fast) ease;
}
.levelbox .levelbox-stars {
    display: flex;
    flex-direction: row;
    gap: var(--unit-1);
}
.levelbox .i-star {
    width: var(--unit-12);
    height: var(--unit-12);
    display: flex;
    transition: all var(--transition-fast) ease;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../assets/star-empty.svg");
}
.levelbox .i-star.filled {
    background-image: url("../assets/star-filled.svg");
}

.quest-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.quest-img img {
    user-select: none;
    -webkit-user-drag: none;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}