body {
    padding: 0;
    margin: 0;
}
* {
    user-select: none;
}
body, html {
    overscroll-behavior-x: none;
    overscroll-behavior-y: contain;
}
.stage {
    background-color: var(--slate-100);
    display: flex;
    width: 100vw;
    height: 100vh;
    position: relative;
    flex-direction: column;
    overflow: hidden;
}
.stage.init #header,
.stage.init #footer,
.stage #header,
.stage #footer {
    transition: none;
}
.stage #header.animate,
.stage #footer.animate {
    transition: all var(--transition-slow) ease;
}
.stage .hud {
    transition: all var(--transition-slow) ease;
    display: flex;
}
.stage .header {
    height: var(--site-header);
    position: relative;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}
.stage .main {
    flex-grow: 1;
    position: relative;
}
.stage .main, .stage .main > div {
    width: 100vw;
}
.stage .main section {
    padding: 0 calc(var(--unit-12) + var(--unit-12));
}
.stage .footer {
    height: var(--site-footer);
    position: relative;
    flex-shrink: 0;
    background: var(--slate-200);
}
.progress-bar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 var(--unit-14);
}
.bar {
    background-color: var(--slate-200);
    width: 100%;
    height: var(--unit-6);
    border-radius: var(--rounded-full);
    overflow: hidden;
    transition: all var(--transition-slow) ease;
}
.completed {
    content: "";
    background-color: var(--indigo-400);
    display: flex;
    transition: inherit;
    height: 100%;
    border-radius: var(--rounded-full);
    width: 100%;
    max-width: 100%;
}

/* IMMERSIVE: SHOW BOTH HEADER AND FOOTER */
.stage.immersive .header {
    margin-top: calc(var(--site-header) * -1);
}
.stage.immersive .footer {
    margin-bottom: calc(var(--site-header) * -1);
}

/* IMMERSIVE: SHOW HEADER (HIDE FOOTER) */
.stage.showheader .header {
    margin-top: 0;
}
.stage.showheader .footer {
    margin-bottom: calc(var(--site-header) * -1);
}

/* IMMERSIVE: SHOW FOOTER (HIDE HEADER) */
.stage.showfooter .header {
    margin-top: calc(var(--site-header) * -1);
}
.stage.showfooter .footer {
    margin-bottom: 0;
}

.fs-button {
    width: var(--unit-14);
    height: var(--unit-14);
    background-color: var(--indigo-500);
    border-radius: var(--rounded-full);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    position: absolute;
    z-index: 999;
    top: var(--unit-5);
    left: var(--unit-5);
}

.scene-bg {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: center;
    aspect-ratio: 2 / 1;
    position: relative;
    width: 100%;
    justify-self: center;
    padding: 0 !important;
    background-color: var(--slate-100);
}
.scene-bg.ingame {
    padding: 0 calc(var(--unit-12) + var(--unit-12)) !important;
}

.scene-bg > div {
    height: 100%;
    gap: 0;
}

.scene-bg .vo-text {
    text-align: center;
    font-size: var(--unit-10);
    line-height: var(--unit-11);
    color: var(--slate-800);
    text-wrap: balance;
    font-weight: bold;
    z-index: 20;
    display: flex;
    position: relative;
}
.vo-text .read-backdrop {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    position: absolute;
    z-index: -1;
    filter: blur(var(--unit-7));
    border-radius: var(--rounded-24);
}

.story-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: var(--unit-7);
}

.story-text {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
}

.act-icon {
    width: calc(var(--unit-13) * 6);
    height: calc(var(--unit-13) * 3);
}

.footer-bar {
    padding: 0 calc(var(--unit-12) + var(--unit-12));
}

.ingame .lay {
    gap: var(--unit-6);
}
.ingame .lay .out1,
.ingame .lay .out2 {
    flex-grow: 1;
}
.ingame .lay .out1 {
    width: 27%;
}
.ingame .lay .out2 {
    width: 73%;
}