@font-face {
	font-family: 'Mikado';
	src: url('fonts/funny-li.ttf');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Mikado';
	src: url('fonts/funny-li-it.ttf');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Mikado';
	src: url('fonts/funny-rg.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Mikado';
	src: url('fonts/funny-rg-it.ttf');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Mikado';
	src: url('fonts/funny-md.ttf');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Mikado';
	src: url('fonts/funny-md-it.ttf');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Mikado';
	src: url('fonts/funny-bd.ttf');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Mikado';
	src: url('fonts/funny-bd-it.ttf');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Mikado';
	src: url('fonts/funny-bk.ttf');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Mikado';
	src: url('fonts/funny-bk-it.ttf');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Mikado';
	src: url('fonts/funny-ul.ttf');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Mikado';
	src: url('fonts/funny-ul-it.ttf');
	font-weight: 900;
	font-style: italic;
}

.helper {
	font-family	: var(--font-family-helper);
	font-size	: var(--font-size-helper); 
	line-height	: var(--line-height-helper);
	font-weight	: var(--font-weight-helper);
}
.body-sm {
	font-family	: var(--font-family-body-sm);
	font-size	: var(--font-size-body-sm); 
	line-height	: var(--line-height-body-sm);
	font-weight	: var(--font-weight-body-sm);
}
.body {
	font-family	: var(--font-family-body);
	font-size	: var(--font-size-body); 
	line-height	: var(--line-height-body);
	font-weight	: var(--font-weight-body);
}
.body-lg {
	font-family	: var(--font-family-body-lg);
	font-size	: var(--font-size-body-lg); 
	line-height	: var(--line-height-body-lg);
	font-weight	: var(--font-weight-body-lg);
}
.action {
	font-family	: var(--font-family-action);
	font-size	: var(--font-size-action); 
	line-height	: var(--line-height-action);
	font-weight	: var(--font-weight-action);
}
.subheading {
	font-family	: var(--font-family-subheading);
	font-size	: var(--font-size-subheading); 
	line-height	: var(--line-height-subheading);
	font-weight	: var(--font-weight-subheading);
	letter-spacing	: 0.5px;
	text-transform	: uppercase;
}
.heading-sm {
	font-family	: var(--font-family-heading-sm);
	font-size	: var(--font-size-heading-sm); 
	line-height	: var(--line-height-heading-sm);
	font-weight	: var(--font-weight-heading-sm);
}
.heading-md {
	font-family	: var(--font-family-heading-md);
	font-size	: var(--font-size-heading-md); 
	line-height	: var(--line-height-heading-md);
	font-weight	: var(--font-weight-heading-md);
}
.heading-lg {
	font-family	: var(--font-family-heading-lg);
	font-size	: var(--font-size-heading-lg); 
	line-height	: var(--line-height-heading-lg);
	font-weight	: var(--font-weight-heading-lg);
}
.eyebrow-sm {
	font-family	: var(--font-family-eyebrow-sm);
	font-size	: var(--font-size-eyebrow-sm); 
	line-height	: var(--line-height-eyebrow-sm);
	font-weight	: var(--font-weight-eyebrow-sm);
}
.eyebrow-md {
	font-family	: var(--font-family-eyebrow-md);
	font-size	: var(--font-size-eyebrow-md); 
	line-height	: var(--line-height-eyebrow-md);
	font-weight	: var(--font-weight-eyebrow-md);
}
.eyebrow-lg {
	font-family	: var(--font-family-eyebrow-lg);
	font-size	: var(--font-size-eyebrow-lg); 
	line-height	: var(--line-height-eyebrow-lg);
	font-weight	: var(--font-weight-eyebrow-lg);
}
.display-sm {
	font-family	: var(--font-family-display-sm);
	font-size	: var(--font-size-display-sm); 
	line-height	: var(--line-height-display-sm);
	font-weight	: var(--font-weight-display-sm);
}
.display-md {
	font-family	: var(--font-family-display-md);
	font-size	: var(--font-size-display-md); 
	line-height	: var(--line-height-display-md);
	font-weight	: var(--font-weight-display-md);
}
.display-lg {
	font-family	: var(--font-family-display-lg);
	font-size	: var(--font-size-display-lg); 
	line-height	: var(--line-height-display-lg);
	font-weight	: var(--font-weight-display-lg);
}
.headline-xs {
	font-family	: var(--font-family-headline-xs);
	font-size	: var(--font-size-headline-xs); 
	line-height	: var(--line-height-headline-xs);
	font-weight	: var(--font-weight-headline-xs);
}
.headline-sm {
	font-family	: var(--font-family-headline-sm);
	font-size	: var(--font-size-headline-sm); 
	line-height	: var(--line-height-headline-sm);
	font-weight	: var(--font-weight-headline-sm);
}
.headline-md {
	font-family	: var(--font-family-headline-md);
	font-size	: var(--font-size-headline-md); 
	line-height	: var(--line-height-headline-md);
	font-weight	: var(--font-weight-headline-md);
}
.headline-lg {
	font-family	: var(--font-family-headline-lg);
	font-size	: var(--font-size-headline-lg); 
	line-height	: var(--line-height-headline-lg);
	font-weight	: var(--font-weight-headline-lg);
}

.helper.bold {
	font-weight	: var(--font-weight-bold-helper);
}
.body-sm.bold {
	font-weight	: var(--font-weight-bold-body-sm);
}
.body.bold {
	font-weight	: var(--font-weight-bold-body);
}
.body-lg.bold {
	font-weight	: var(--font-weight-bold-body-lg);
}
.action.bold {
	font-weight	: var(--font-weight-bold-action);
}
.subheading.bold {
	font-weight	: var(--font-weight-bold-subheading);
}
.heading-sm.bold {
	font-weight	: var(--font-weight-bold-heading-sm);
}
.heading-md.bold {
	font-weight	: var(--font-weight-bold-heading-md);
}
.heading-lg.bold {
	font-weight	: var(--font-weight-bold-heading-lg);
}
.eyebrow-sm.bold {
	font-weight	: var(--font-weight-bold-eyebrow-sm);
}
.eyebrow-md.bold {
	font-weight	: var(--font-weight-bold-eyebrow-md);
}
.eyebrow-lg.bold {
	font-weight	: var(--font-weight-bold-eyebrow-lg);
}
.display-sm.bold {
	font-weight	: var(--font-weight-bold-display-sm);
}
.display-md.bold {
	font-weight	: var(--font-weight-bold-display-md);
}
.display-lg.bold {
	font-weight	: var(--font-weight-bold-display-lg);
}
.headline-xs.bold {
	font-weight	: var(--font-weight-bold-headline-xs);
}
.headline-sm.bold {
	font-weight	: var(--font-weight-bold-headline-sm);
}
.headline-md.bold {
	font-weight	: var(--font-weight-bold-headline-md);
}
.headline-lg.bold {
	font-weight	: var(--font-weight-bold-headline-lg);
}

.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-justify {
	text-align: justify;
}
.text-start {
	text-align: start;
}
.text-end {
	text-align: end;
}

.amazing-wrapper {
	position: relative;
	display: inline-block;
}

.amazing-shadow {
	position: absolute;
	top: 0;
	left: 0;
	color: var(--white);
	-webkit-text-stroke: var(--unit-7) var(--white);
	z-index: 1;
	pointer-events: none;
	padding: var(--unit-2) 0;
}

.amazing-under {
	position: absolute;
	top: var(--unit-4);
	left: 0;
	color: var(--indigo-300);
	-webkit-text-stroke: var(--unit-7) var(--indigo-300);
	z-index: 1;
	pointer-events: none;
	padding: var(--unit-2) 0;
}

.amazing-title {
	position: relative;
	color: var(--indigo-500);
	z-index: 2;
	padding: var(--unit-2) 0;
}

.hero em {
	font-weight: var(--font-weight-extrabold);
	font-style: unset;
}

em {
	color: var(--text-informational);
	font-style: unset;
}

h1 {
	font-family: var(--font-family-headline-sm);
	font-size: var(--font-size-headline-sm);
	line-height: var(--line-height-headline-sm);
	font-weight: var(--font-weight-headline-sm);
}

.text-wrap {
	text-wrap: wrap;
}

.text-nowrap {
	text-wrap: nowrap;
}

.text-balance {
	text-wrap: balance;
}

.text-pretty {
	text-wrap: pretty;
}

.text-uppercase {
	text-transform: uppercase;
}
.text-lowercase {
	text-transform: lowercase;
}
.text-capitalize {
	text-transform: capitalize;
}

.text-m-off {
	margin: 0 calc(var(--unit-10) * -1);
}

.big-title-a {
	font-size: calc(var(--unit-13) * 2);
	line-height: calc(var(--unit-13) * 2);
	margin: 0 calc(var(--unit-10) * -1);
}

.big-title-b {
	font-size: calc((var(--unit-13) * 2) + var(--unit-6));
	line-height: calc((var(--unit-13) * 2) + var(--unit-6));
	margin: 0 calc(var(--unit-10) * -1);
}

.name-fase {
	width: calc(var(--unit-12) * 2);
	height: calc(var(--unit-12) * 2);
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 20;
	text-align: center;
	font-size: var(--unit-9);
	line-height: var(--unit-9);
	color: var(--white);
	font-weight: 800;
	padding: var(--unit-5) var(--unit-8);
	background-color: var(--red-500);
	border-radius: var(--rounded-full);
	display: flex;
	justify-content: center;
	align-items: center;
}

.funny {
	font-family: "Mikado";
}

.weight-100 { font-weight: 100; }
.weight-200 { font-weight: 200; }
.weight-300 { font-weight: 300; }
.weight-400 { font-weight: 400; }
.weight-500 { font-weight: 500; }
.weight-600 { font-weight: 600; }
.weight-700 { font-weight: 700; }
.weight-800 { font-weight: 800; }
.weight-900 { font-weight: 900; }

.weight-thin       { font-weight: 100; }  /* Sama seperti .weight-100 */
.weight-extralight { font-weight: 200; }  /* Sama seperti .weight-200 */
.weight-light      { font-weight: 300; }  /* Sama seperti .weight-300 */
.weight-normal     { font-weight: 400; }  /* Sama seperti .weight-400 */
.weight-medium     { font-weight: 500; }  /* Sama seperti .weight-500 */
.weight-semibold   { font-weight: 600; }  /* Sama seperti .weight-600 */
.weight-bold       { font-weight: 700; }  /* Sama seperti .weight-700 */
.weight-extrabold  { font-weight: 800; }  /* Sama seperti .weight-800 */
.weight-black      { font-weight: 900; }  /* Sama seperti .weight-900 */

.text-size-1 { font-size: var(--unit-1); }
.text-size-2 { font-size: var(--unit-2); }
.text-size-3 { font-size: var(--unit-3); }
.text-size-4 { font-size: var(--unit-4); }
.text-size-5 { font-size: var(--unit-5); }
.text-size-6 { font-size: var(--unit-6); }
.text-size-7 { font-size: var(--unit-7); }
.text-size-8 { font-size: var(--unit-8); }
.text-size-9 { font-size: var(--unit-9); }
.text-size-10 { font-size: var(--unit-10); }
.text-size-11 { font-size: var(--unit-11); }
.text-size-12 { font-size: var(--unit-12); }
.text-size-13 { font-size: var(--unit-13); }
.text-size-14 { font-size: var(--unit-14); }

.line-height-1 { line-height: var(--unit-1); }
.line-height-2 { line-height: var(--unit-2); }
.line-height-3 { line-height: var(--unit-3); }
.line-height-4 { line-height: var(--unit-4); }
.line-height-5 { line-height: var(--unit-5); }
.line-height-6 { line-height: var(--unit-6); }
.line-height-7 { line-height: var(--unit-7); }
.line-height-8 { line-height: var(--unit-8); }
.line-height-9 { line-height: var(--unit-9); }
.line-height-10 { line-height: var(--unit-10); }
.line-height-11 { line-height: var(--unit-11); }
.line-height-12 { line-height: var(--unit-12); }
.line-height-13 { line-height: var(--unit-13); }
.line-height-14 { line-height: var(--unit-14); }

.msgbox {
	padding: var(--unit-11) var(--unit-13);
	font-size: var(--unit-11);
	line-height: var(--unit-12);
	font-weight: bold;
	background-color: var(--slate-50);
	border: calc(var(--unit-2) + (var(--unit-1) / 3)) solid var(--slate-300);
	border-radius: var(--unit-7);
	position: relative;
	text-align: left;
}
.msgbox.vo-text {
	text-align: left;
    text-wrap: pretty;
	font-size: var(--unit-11);
	line-height: var(--unit-12);
}
.callout {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../assets/callout.svg);
	width: var(--unit-12);
	height: var(--unit-12);
	position: absolute;
	top: calc(50% - (var(--unit-11) / 2));
	left: calc((var(--unit-12) / 2) * -1);
}
.callout.top {
	top: var(--unit-11);
}
.callout.middle {
	top: calc(50% - (var(--unit-11) / 2));
}
.callout.bottom {
	top: unset;
	bottom: var(--unit-11);
}

.inline {
	display: inline;
}
.inline-flex {
	display: inline-flex;
}

.msgbox.titlescr {
	padding: var(--unit-7) var(--unit-10);
	font-size: var(--unit-9);
	line-height: var(--unit-10);
    color: var(--slate-800);
    display: flex;
	flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-wrap: balance;
    gap: var(--unit-8);
	position: absolute;
    top: calc(var(--unit-13) * 2);
    z-index: 678;
	text-align: center;
	align-self: center;
	transition: all var(--transition-slow) ease;
	opacity: 0;
}
.msgbox.titlescr .callout {
	top: unset;
	right: calc(85% - (var(--unit-12) / 2));
	bottom: calc((var(--unit-12) / 2) * -1);
	transform: rotate(-90deg);
	left: unset;
}
.msgbox.titlescr.hidden {
	opacity: 0;
	transform: scale(0.9);
}

.msgbox.lobby {
	padding: var(--unit-7) var(--unit-10);
	font-size: var(--unit-9);
	line-height: var(--unit-10);
    color: var(--slate-800);
    display: flex;
	flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-wrap: balance;
    gap: var(--unit-12);
}

.msgbox.lobby .callout {
    top: calc(50% - (var(--unit-12) / 2));
    right: calc((var(--unit-12) / 2) * -1);
    transform: scaleX(-1);
    left: unset;
}

.msgbox.lobby .callout.middle {
	top: calc(50% - (var(--unit-11) / 2));
}

.m-char {
	color: var(--amber-600);
}
.m-thing {
	color: var(--indigo-500);
}
.m-key {
	color: var(--lime-600);
}
