<section class="flex row justify-between items-center py-0">
    <div class="flex row gap-7 justify-start shrink width-auto">
        <div class="btntext-wrapper flex column text-center gap-5 justify-center items-center">
            <button class="act-neutral btntext btn-click ico-sm" onclick="
                loadSceneTrans('title', 'both', 'zoom-in');
            "><i data-lucide="home"></i>
            </button>
            <span class="text-size-6 line-height-6 weight-bold text-slate-800">Menu Utama</span>
        </div>
        <div class="btntext-wrapper flex column text-center gap-5 justify-center items-center">
            <button class="act-neutral btntext btn-click ico-sm" onclick="
                openSettings();
            "><i data-lucide="settings"></i>
            </button>
            <span class="text-size-6 line-height-6 weight-bold text-slate-800">Pengaturan</span>
        </div>
    </div>
    <div class="flex row gap-7 justify-center text-center text-slate-700 text-size-9 line-height-10">
        <span><b>Aktivitas 2</b> Menyimak Dongeng</span>
    </div>
    <div class="flex row gap-7 justify-end shrink width-auto">
        <div class="btntext-wrapper flex column text-center gap-5 justify-center items-center">
            <button id="btn-reset" class="act-neutral btntext btn-click ico-sm" onclick="
                    // Define melalui script di scene
                "><i data-lucide="rotate-ccw"></i>
            </button>
            <span class="text-size-6 line-height-6 weight-bold text-slate-800">Putar Ulang</span>
        </div>
        <div class="btntext-wrapper flex column text-center gap-5 justify-center items-center">
            <button id="btn-prev" class="act-neutral btntext btn-click ico-sm" onclick="
                    // Define melalui script di scene
                "><i data-lucide="chevron-left"></i>
            </button>
            <span class="text-size-6 line-height-6 weight-bold text-slate-800">Sebelumnya</span>
        </div>
        <div class="btntext-wrapper flex column text-center gap-5 justify-center items-center">
            <button id="btn-next" class="act-neutral btntext btn-click ico-sm" onclick="
                    // Define melalui script di scene
                "><i data-lucide="chevron-right"></i>
            </button>
            <span class="text-size-6 line-height-6 weight-bold text-slate-800">Selanjutnya</span>
        </div>
    </div>
</section>
<script>
    lucide.createIcons();
    applyAmazingTitleEffect();
    setupBtnSFX();
    loadAndRenderAllVoTexts();
</script>