.bg-p1 { background-image: url('img/p1.jpg'); }
.bg-p2 { background-image: url('img/p2.jpg'); }
.bg-p3 { background-image: url('img/p3.jpg'); }
.bg-p4 { background-image: url('img/p4.jpg'); }
.bg-p5 { background-image: url('img/p5.jpg'); }
.bg-p6 { background-image: url('img/p6.jpg'); }
.bg-p7 { background-image: url('img/p7.jpg'); }
.bg-p8 { background-image: url('img/p8.jpg'); }
.bg-p9 { background-image: url('img/p9.jpg'); }